html,body{
     width: 100%;
    /* height: 200vh; */
    /* background-image: url('./assets/sky-space-milky-way-stars-110854.jpg'); */
    background-image: url("https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
#Carousel_slider.container-fluid{
    padding: 0;
}
#Sticky {
    flex-shrink: unset;
  }
  #dummy{
      width: 100%;
      height: 50vh;
  }
  #icons>span{
      padding: 10px;
  }